{% extends 'base.html' %}
{% block title %}Utilisateur - PSMN{% endblock %}
{% block ico %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/chart.ico') }}">{% endblock %}


{% block msgUtilisateur %}
<div class="container">
  <div class="row">
    {% if infos %}
    <div class="card">
      <div class="card-header">
        Information recherchée
      </div>
      <ul class="list-group list-group-horizontal-xl">
        {% for key, value in infos.items() %}
        <li class="list-group-item">{{key}}: {{value}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% with messages = get_flashed_messages(category_filter=['success']) %}
    {% if messages %}
    {% for message in messages %}
    <div class="col-md">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>{{message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=['warning']) %}
    {% if messages %}
    {% for message in messages %}
    <div class="col-md">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span>{{message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=['danger']) %}
    {% if messages %}
    {% for message in messages %}
    <div class="col-md">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>{{message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

  </div>
</div>
{% endblock %}

{% block body %}
{% if charts %}

<section class="charts">
  <div class="ChartContainer">
    <div class="accordion" id="graphiques">
      {% for chart in charts %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="{{chart['id']}}-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#{{chart['id']}}" aria-expanded="false" aria-controls="{{chart['id']}}">
            {{chart['name']}}
          </button>
        </h2>
        <div id="{{chart['id']}}" class="accordion-collapse collapse" aria-labelledby="{{chart['id']}}-header">
          <div class="accordion-body">
            <div class="row">
              {% for ch in chart['charts'] %}
              <div class="col col-lg-6">
                <div class="card chart">
                  <div class="card-header d-flex align-items-center">
                    <h4>{{ch["title"]}}</h4>
                    <button></button>
                  </div>
                  <div class="card-body">
                    <div class="chart-container">
                      <canvas id="{{ch['id']}}"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</section>
{% endif %}
{% endblock %}



{% block jsChart %}
{% if charts %}
<script script type=text/javascript>
      var charts = {{ charts | tojson }} //On lit les éléments contenus dans charts
      
      for(let j = 0; j < charts.length; j++){


        for (let i = 0; i < charts[j]['charts'].length; i++) {
        labels = [];
        values = [];

        for(let key in charts[j]['charts'][i]['values']){
          labels.push(key);
          values.push(charts[j]['charts'][i]['values'][key]);
        }

        window[charts[j]['charts'][i]['type']](
                                  charts[j]['charts'][i]['id'], 
                                  labels, 
                                  values
                                );

        }

        
      }
      
    </script>
{% endif %}
{% endblock %}