{% extends 'base.html' %}
{% block title %}Utilisateur - PSMN{% endblock %}
{% block ico %}<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/chart.ico') }}">{% endblock %}


{% block msgUtilisateur %}

  
<div class="col-md-auto">  
      <div class="card">
        <div class="card-header">
          Information recherchée
        </div>
        <ul class="list-group list-group-horizontal-xl">
          {% for key, value in infos.items() %}
            <li class="list-group-item">{{key}}: {{value}}</li>
          {% endfor %}
        </ul>
    </div>
    
{% endblock %}


{% block body %}
<section class="charts">
    <div class="ChartContainer">
      <div class="row">

        <div class="col-lg-6">
          <div class="card chart">
            <div class="card-header d-flex align-items-center">
              <h4>Nombre de jobs</h4>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="jobUserGroupe"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card chart">
            <div class="card-header d-flex align-items-center">
              <h4>Nombre d'heures</h4>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="heureUserGroupe"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card chart">
            <div class="card-header d-flex align-items-center">
              <h4>Taux de réussite</h4>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="requeteOkHs"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card chart">
            <div class="card-header d-flex align-items-center">
              <h4>Temps d'éxecution</h4>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="requeteOther"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card chart">
            <div class="card-header d-flex align-items-center">
              <h4>TestStacked</h4>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="testStacked"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
{% block jsChart %}
    <script script type= text/javascript>
      var x = JSON.parse({{ charts | tojson }}) //On lit les éléments contenus dans charts
      // console.log(x[0][1][1]);
      for (let i = 0; i < x.length; i++) {

        labels = [];
        values = [];

        for(let key in x[i][1][1][0]){
            labels.push(key);
            values.push(x[i][1][1][0][key])
        }

        if(x[i][1][0] == "PieChart"){
          drawPieChart(x[i][0], labels, values);
        }else if(x[i][1][0] == "BarCompare"){
          drawBarCompareChart(x[i][0], labels, values)
        }
        else if(x[i][1][0] == "BarChart"){
          drawBarChart(x[i][0], labels, values);
        }else if(x[i][1][0] == "BarChartStacked"){
          drawBarStacked(x[i][0], labels, values);
        }else{

        }
      }
    </script>
{% endblock %}

